{{> header }}

   {{> navbar }}

    
<div class="container">

  <div class="row">
    <div class="col">
    <div class="conte">
    <div class="hovereffect">
        <img class="img-responsive" src="assets/img/ecu.jpg" alt="">
            <div class="overlay">
                <h2>ECUADOR</h2>
				<p>
					<a class="info" href="home">INGRESAR</a>
				</p>
            </div>
    </div>
        </div>

    </div>
    <div class="col">
    <div class="conte">
    <div class="hovereffect">
        <img class="img-responsive" src="assets/img/mundo.jpg" alt="">
            <div class="overlay">
                <h2>MUNDO</h2>
				<p>
					<a class="info" href="#">CONSULTAR</a>
				</p>
            </div>
    </div>
    </div>

    </div>
    
      
  </div>
</div>


{{> footer }}
   