{{> header }}

   {{> navbar }}



<h3>*Arrastre el mouse sobre una imagen para seleccionar una opción</h3>

   <div class="container" id="cont1">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <div class="hovereffect">
        <img class="img-responsive" src="assets/img/ecu.jpg" alt="">
            <div class="overlay">
                <h2>ECUADOR</h2>
				<p>
					<a class="info" href="ecuador">INGRESAR</a>
				</p>
            </div>
    </div>
    <h5 class="card-title">ECUADOR</h5>
  
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <div class="hovereffect">
        <img class="img-responsive" src="assets/img/mundo.jpg" alt="">
            <div class="overlay">
                <h2>MUNDO</h2>
				<p>
					<a class="info" href="mundo">INGRESAR</a>
				</p>
            </div>
    </div>
  
    <h5 class="card-title">MUNDO</h5>
    
    
  
</div>
    </div>
  </div>
</div>



{{> footer }}
   