{{> header }}

   {{> navbar }}

    <div class="jumbotron">

        

        <div class="container">
            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="assets/img/madrid.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Clima de Madrid</h5>
                      <h3>{{ c1 }} °C</h3>
              
                    </div>
                </div>
              </div>

              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="assets/img/paris.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Clima de Paris</h5>
                      <h3>{{ c2 }} °C</h3>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <a class="btn btn-primary" href="/" role="button">Regresar</a>
                </div>
              </div>
        </div>
        

        
        
    </div>

{{> footer }}
   